<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio</title>
    <link rel="stylesheet" href="/portfolio/assets/style.css">
</head>

<body>
    <header>
        <div>
            <h1>Ariana Quadros de Almeida</h1>
        </div>
        <div id="menu">
            <a href="#section1">
                <h4>Sobre</h4>
            </a>
            <a href="#section2">
                <h4>Contatos</h4>
            </a>
            <a href="#section3">
                <h4>Trabalhos</h4>
            </a>
        </div>
    </header>

    <section id="section1">
        <h2 id="h2_section">Quem sou eu?</h2>
        <div>
            <img id="img" src="/portfolio/assets/me.jpeg" alt="">
        </div>
        <h2 id="h2_section2">Eu sou Ariana Almeida, estudante de Análise e Desenvolvimento de Sistemas na ULBRA.</h2>
    </section>

    <section id="section2">
        <h3 id="h3_section2">Como me encontrar?</h3>
        <p>
            Você pode entrar em contato comigo clicando em qualquer um dos icones abaixo.
        </p>

        <a href="https://www.linkedin.com/in/arianaqalmeida/">
            <img id="icon_linkedin" src="assets/linkedin.svg" alt="linkedin">
        </a>

        <a href="https://www.facebook.com/ariana.almeida.50552/">
            <img id="icon_facebook" src="assets/facebook.svg" alt="facebook">
        </a>

        <a href="https://www.instagram.com/0ut3rsp4ce/">
            <img id="icon_instagram" src="assets/instagram.svg" alt="instagram">
        </a>
    </section>
    <section id="section3">
        <h3>Quais são meus principais trabalhos?</h3>
        <div class="links">
            <a class="link" href="https://github.com/ariana1almeida/BootCamp_Santander_2021">
                <img class="trab" src="/portfolio/assets/github.svg" alt="">
                <h2>
                    Aqui você pode ver meus estudos do Bootcamps Santander 2021.
                </h2>
            </a>
        </div>

        <div class="links">
            <a class="link" href="https://github.com/ariana1almeida/Projetos-de-estudo">
                <img class="trab" src="/portfolio/assets/github.svg" alt="">
                <h2>
                    Aqui você pode ver todos os meus trabalhos independentes.
                </h2>
            </a>
        </div>

        <div class="links">
            <a class="link" href="https://github.com/ariana1almeida/Ulbra">
                <img class="trab" src="/portfolio/assets/github.svg" alt="">
                <h2>
                    Aqui você pode ver tudo o que estou aprendendo na ULBRA.
                </h2>
            </a>
        </div>
    </section>
    <footer>
        <h2 id="h2_footer">All rights reserved to ULBRA</h2>
    </footer>

</body>

</html>